@import "tailwindcss";

.portfolio-container {
  padding-left: 80px;
  padding-right: 80px;
}

@media (max-width: 640px) {
  .portfolio-container {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.content-container {
  padding-left: 60px;
  padding-right: 60px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1;
  overflow: hidden;
  width: 100%;
  background-color: aqua;
  height: 0;
  transition: height 0.5s;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100px;
  margin: 20px;
}

/* 
.overlay.show {
  height: 100%;
} */
/* .overlay-navigation {
  position: absolute;
  bottom: 1;
  left: 0;
  right: 0;
  top: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
} */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
